@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --primary-heading-color: #bebebe;
  --secondary-heading-color: #4eb2c9;
  --background-color: #030811;
  --text-color: #bebebe;
}

/*NADPISY PRO SEKCE*/

.section-heading {
  background: linear-gradient(to right, #237c78, #00e1ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  padding-top: 0.3em;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: hidden !important;
}

/*CART*/
.card-container {
  box-shadow: 12px 12px 19px #38495c54, -12px -12px 19px #0d1116;
  transition: transform 0.3s ease; /* Přidání plynulého přechodu */
}

.hashtag-glow {
  box-shadow: 0px 0px 10px #38495c54, -0px -0px 10px #0d1116;
  transition: transform 0.3s ease; /* Přidání plynulého přechodu */
}

.card-container:hover {
  transform: translateY(-10px); /* Posun nahoru při hover */
  cursor: pointer;
}

/*BUTTON HOVER SHADOW*/
.hover-shadow:hover {
  box-shadow: 0 0 10px 3px #a0c2e78e;
  transition: box-shadow 0.3s ease-in-out;
}

/*GRADIENTY*/
.gradient-background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at 20% 65%, #002853 1%, transparent 17%),
    radial-gradient(circle at 80% 38%, #002853 0%, transparent 15%),
    radial-gradient(circle at 50% 60%, #2b0053 0%, transparent 12%);
}

.gradient-background2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at 10% 35%, #002853 1%, transparent 10%),
    radial-gradient(circle at 90% 50%, #002853 0%, transparent 10%),
    radial-gradient(circle at 65% 70%, #2b0053 0%, transparent 14%);
}

.gradient-background3 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at 10% 35%, #002853 1%, transparent 10%),
    radial-gradient(circle at 90% 50%, #002853 0%, transparent 10%),
    radial-gradient(circle at 45% 68%, #2b0053 0%, transparent 14%);
}

.gradient-background4 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at 10% 35%, #002853 1%, transparent 10%),
    radial-gradient(circle at 90% 50%, #002853 0%, transparent 10%),
    radial-gradient(circle at 45% 90%, #2b0053 0%, transparent 4%);
}

/*PANELY*/
.panel-webservices {
  position: relative;
  min-height: 100vh;
  z-index: 5;
}

.panel-subservice {
  position: relative;
  min-height: 20vh;
  z-index: 5;
}

.panel-fixed {
  z-index: 1;
}
.panel-inner {
  padding: 1em;
  width: 100%;
}
.panel-fixed .panel-inner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.panel-one {
  background-color: red;
}

.panel-two {
  background-color: #ff00005d;
}

.panel-three {
  background-color: #ff000000;
}

.center-top-left {
  transform: translate(-45%, -45%);
}

.center-bottom-right {
  transform: translate(40%, 40%);
}

/* Stylování pozadí scrollbaru */
::-webkit-scrollbar {
  background-color: #000000;
}

/* Stylování pohyblivé části scrollbaru */
::-webkit-scrollbar-thumb {
  background-color: #dc2626;
  border-radius: 50px;
}

/* Stylování části scrollbaru, když je myš nad ním */
::-webkit-scrollbar-thumb:hover {
  background-color: #b92020;
}

/* Zvětšení scrollbaru na hover v Firefoxu */
*:hover {
  scrollbar-width: auto; /* Firefox bohužel nepodporuje přesné šířky, pouze 'auto' nebo 'thin' */
  scrollbar-color: #dc2626;
}

.backgroundAnimation {
  animation: expandBackground 0.2s ease-in-out forwards,
    shrinkBackground 0.2s ease-in-out 1s forwards;
}

.textAnimation {
  animation: fadeInText 0s ease-in-out 0.2s forwards;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  z-index: 10;
  transform: scaleX(0);
}

.text {
  position: relative;
  z-index: 1;
  color: white;
  opacity: 0;
}

.projekt-sekce {
  margin-top: 100vh;
  margin-bottom: 50vh;
  height: 100vh;
  position: relative;
}

/* CSS pro animaci pozadí */
/* Rozšíření pozadí */
@keyframes expandBackground {
  from {
    transform: scaleX(0);
    transform-origin: left;
  }
  to {
    transform: scaleX(1);
    transform-origin: left;
  }
}

/* Smrštění pozadí */
@keyframes shrinkBackground {
  from {
    transform: scaleX(1);
    transform-origin: right;
  }
  to {
    transform: scaleX(0);
    transform-origin: right;
  }
}

/* CSS pro animaci textu */
@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/****************/
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/*FOOTER*/
footer {
  box-shadow: 0 0 14px 2px #a0c2e78e;
}

/*SCROLLING ARROW DOWN*/
@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.arrowContainer {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0deg);
  transition: transform 0.4s ease, bottom 0.4s ease;
  z-index: 20;
}

.arrowContainer:hover {
  cursor: pointer;
  transform: translate(-50%, 0%) rotateZ(0deg);
  bottom: 40px;
}

.arrowContainer:hover .arrow {
  top: 50%;
  animation-play-state: paused;
  opacity: 1 !important;
}

.arrowContainer:hover .arrow:before {
  transform: translate(-50%, -50%) rotateZ(-30deg);
}

.arrowContainer:hover .arrow:after {
  transform: translate(-50%, -50%) rotateZ(30deg);
}

.arrow {
  position: absolute;
  left: 50%;
  transition: all 0.4s ease;
  animation: animate 2s infinite;
  opacity: 0;
}

.arrow:before,
.arrow:after {
  transition: all 0.4s ease;
  content: "";
  display: block;
  position: absolute;
  transform-origin: bottom right;
  background: #fff;
  width: 4px;
  height: 50px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

.arrow:after {
  transform-origin: bottom left;
  transform: translate(-50%, -50%) rotateZ(45deg);
}

.arrow:nth-child(1) {
  top: 15%;
}

.arrow:nth-child(2) {
  top: 30%;
}

.arrow:nth-child(3) {
  top: 45%;
}
